/* background-color:
#C1E2A4
#48CFCB
#7695FF
*/


body {
    font-family: "Protest Guerrilla", sans-serif;
    background-image: url(imagens/background.jpg);
    margin: 0; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}
.container-claro {
    background-color: rgba(255, 255, 255, 0.137); /* Fundo claro com opacidade */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 10px 20px #640D5F; /* Sombra sutil */
    margin-top: 50px;
    width: 60%;
}

.options{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #640D5F;
    border-radius: 10px 10px 0px 0px;
}

.buttonOp{
    background-color: #640D5F;
    
}

#btnPomo{
    background-color: #FFEB55;
    color: black;
}

.titulo-container {
    width: 300px;
    padding: 100px 0px;
    margin: 0 auto;
    color: #D91656; 
    text-align: center; 
}

#configButton{
    float: right;
    margin: 20px;
    font-size: 25px;
    color: #D91656; 
}

#musicButton{
    float: left;
    margin: 20px;
    font-size: 25px;
    color: #D91656; 
}

#configButton:hover,#musicButton:hover{
    cursor: pointer;
    color: #bfc9c0be;
    transition: 0.2s all;
}

.container {
    color: #D91656;
    text-align: center;
    margin-top: 20px;
    width: 40%;
}

.control-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control-options i{
    font-size: 30px;
}

.control-options i:hover{
    cursor: pointer;
    color: #bfc9c0be;
    transition: 0.2s all;

}

h1 {
    font-size: 60px;
    text-align: center;
}
h3{
    margin: 0px;
    font-size: 30px;
}
button {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D91656;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #bfc9c0be;
}
input{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width:80%;
    text-align: center;
}

.input-container{
    display: flex;
    margin-top: 15px;
    width: 100%;

}

#tarefa-input{
    border-radius: 10px 0px 0px 10px;
}

#tarefa-button{
    border-radius: 0px 10px 10px 0px;
}

.tarefas{
    margin-top: 20px;
    color: white;
    text-align: left;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.primeiro{
    font-size: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #D91656;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.tempo {
   font-size: 100px;
   color: #D91656; 
   text-align: center;
}

/* Modal */
.modal,.modal-music {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
    justify-content: center; 
    align-items: center; 
}

.modal-content,.modal-content-music {
    background-color: #D91656;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    text-align: center;
    color: white;
}

.close,.close-music {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-music:hover,
.close-music:focus{
    color: black;
    cursor: pointer;
}

.tarefa {
    display: flex;
    justify-content: space-between; /* Espaça os itens */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.tarefa span {
    flex-grow: 1; /* Faz com que o texto da tarefa ocupe o espaço disponível */
}

.tarefa i {
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    margin-left: 10px; /* Espaçamento entre os ícones */
    font-size: 18px; /* Tamanho do ícone */
    margin: 0px 5px;
}

.tarefa i:hover {
    color: #5cb85c; /* Cor ao passar o mouse */
}

#tarefa-input{
    width: 100%;
}